body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(img/Fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
header {
  background-color: rgba(119, 199, 219, 0.9);
  width: 90%;
  max-width: 100%;
  padding: 0;
  margin: auto;
}
article {
  float: center;
  text-align: center;
  background-color: rgba(13, 13, 14, 0.8);
  font-size: 17px;
  padding-left: 1px;
  border: 2px solid white;
  margin: 5px;
}
nav {
  margin: 10px;
  border: 2px solid black;
  padding: 2px;
}
section {
  width: 80%;
  float: left;
  background-color: rgba(119, 199, 219, 0.9);
  
  padding-bottom: 10px;
}
aside {
  width: 20%;
  float: left;
  background-color: rgba(119, 199, 219, 0.9);
  border:2px solid white;
  text-align: center;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
}
.menu {
  list-style: none;
  padding: 0;
  background-color: rgba(13, 13, 14, 0.861);

  margin: auto;
}
.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}
.menu li {
  display: inline-block;
  text-align: center;
}
.menu li a:hover {
  background-color: rgba(119, 199, 219, 0.9);
}
.contexto {
  display: flex;
  border: 1px solid black;
  background-color: aliceblue;
  padding: 5px;
  margin: 10px;
}
.busqueda {
  padding: 15px;
}
.SelecPaginas {
  padding: 5px;

}
.SelecPaginas table{

   border-spacing: 5px;
}
.SelecPaginas td{
  padding: 3px;
  background-color:aliceblue;
  border: 1px solid black;
}
.SelecPaginas td:hover{
  background-color:rgba(13, 13, 14, 0.8);
  color:white;
}
.tematicas{ 
  padding:10px;

  }
  .tematicas table{
    border-spacing: 5px;
  }
  .tematicas th { 
    background-color: aliceblue;
  border:1px solid black;
  border-radius:15px;
  }
.tematicas th:hover{
  background-color:rgba(13, 13, 14, 0.8);
  color:white;
}
footer { 
  display: flex;
  clear: both;
  float:center;
  background-color: rgba(119, 199, 219, 0.9);
  text-align: center;  
  margin-left: 95px;
  margin-right: 95px;
  height: auto;
  border: 2px solid white;
  border-bottom: 0;
}
.contenedor {
  display: flex;
  margin-left: 95px;
  margin-right: 95px;
}
.Preguntas {
  padding: 15px;
}
.Preguntas tr:hover{
 background-color:rgba(13, 13, 14, 0.8);
 color:white;
}

.pie{
    padding: 15px;
    height: 10%;
    width: 100%;
    font-size: 15px;
}
.formulario{
  border: 2px solid black;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding:30px;
  margin:30px;
  float:CENTER;
  background-color:rgba(255,255,255,0.5);

}
.boton:hover {
  background-color: rgba(119, 199, 219, 0.9);
}


.contenido{
    width: 100%;
  float: left;
  background-color: rgba(119, 199, 219, 0.9);
  
  padding-bottom: 10px;
}

.centrar{
  width: 80%;
  height: auto;
  overflow: hidden;

  margin: auto;
  text-align: center;
}

.izquierda, .derecha{
  width: 49%;
  height: auto; overflow: hidden;

  display: inline-block;
}

.izquierda{
  float: left; text-align: left;
}
.subtitulo{
  color: #000000;
}
.titulo-principal{
  color: rgb(0, 0, 0);
  font-size: 60px;
}
.descripcion{
  color: #000000;
  font-weight: 300 ;
  text-align: justify;
}

.derecha{
  float:right;
}
.titulo{
  width: 90%;
  color:aliceblue;
  clear: both;
  float:center;
  text-align: center;
  background-color: rgba(13, 13, 14, 1);
  font-size: 50px;
  height: 70px;
  margin: 5px;
}